{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kibocha's Portfolio">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
    <meta name="author" content="Kibocha John">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icons/favicon.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/style.css">
    <title>Kibocha's Portfolio</title>
</head>
<body>
<header>
    {% include 'header.html' %}
</header>

<main>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search Anything"/>
        <button id="search-button" onclick="search()"><i class="material-icons">search</i></button>
    </div>
    <article>

        <section aria-label="welcome-screen">
            <div id="ring">
                <div id="logo">
                </div>
            </div>
            <div class="welcome-image">
  <img src="../static/images/John%20Kibocha%20-%20Logo.svg" alt="Welcome Image" />
</div>

        </section>
    </article>

</main>

<footer>

</footer>
<script src="../static/js/main.js"></script>
</body>
</html>