{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kibocha's Portfolio">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
    <meta name="author" content="Kibocha John">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icons/favicon.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/icons/style.css">
    <title>Kibocha's Portfolio</title>
</head>
<body>
<header>
    {% include 'nav-bar.html' %}
</header>

<main>
<div class="content">
    <h1>Welcome to My Portfolio</h1>
    <p>Check out my latest projects and blog posts.</p>
    <button class="button">Contact Me</button>
  </div>

</main>

<footer>

</footer>
<script src="../static/js/main.js"></script>
</body>
</html>