{% load humanize %}
{% load static %}
{% load project_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kibocha's Project Portfolio">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
    <meta name="author" content="Kibocha John">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/icons/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Kibocha's Project Portfolio</title>


</head>
<body>
<header>
    {% include 'header.html' %}
</header>
<main>

    {% comment %}<article aria-labelledby="recent-projects" title="Recent Projects">
        <div class="recent-project-container">
            <h2 class="heading" id="recent-projects" style="font-size: 24px;">Recent Projects</h2>
            <div class="recent-project-cards-container">
                {% for recent_project in projects %}
                    <div class="recent-project-card">
                        <div class="recent-project-logo">
                            <img src="{{ recent_project.logo.url }}" alt="Project Logo" class="img-fluid">
                        </div>
                        <div class="recent-project-name">{{ recent_project.name }}</div>
                        <!-- Use the get_project_status_info template tag to get the icon URL and background color for the project status -->
                        {% get_project_status_info recent_project.status as status_info %}
                        <div class="recent-project-status-card" style="background-color: {{ status_info.color }};">
                            <div class="recent-project-status-icon">
                                <img src="{{ status_info.icon }}" alt="Project Status" width="20px" height="20px">
                            </div>
                            <div class="status-value">{{ recent_project.get_status_display }}</div>
                        </div>
                        <div class="recent-project-description">{{ recent_project.description|truncatewords:10 }}</div>
                        <div class="paragraph" style="font-size: small; padding-top: 5px;">Created On:
                            <em>{{ recent_project.creation_date }}</em></div>
                        <!-- Truncate the description to 10 words -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
    <article aria-labelledby="all-projects" title="All Projects">
        <div class="all-project-container">
            <h2 class="heading" id="projects" style="font-size: 24px;">What I'm Working On</h2>
            <div class="all-project-cards-container">
                {% for all_project in all_projects %}
                    <div class="all-project-card">
                        <div class="all-project-logo">
                            <img src="{{ all_project.logo.url }}" alt="Project Logo" class="img-fluid">
                        </div>
                        <div class="all-project-name"
                             style="font-size: large; font-weight: bold;">{{ all_project.name }}
                            ({{ all_project.github_status }})
                        </div>
                        <div class="all-project-description">{{ all_project.description }}</div>
                        <div class="all-project-status-and-cost">
                            <div class="all-project-status">
                                <!-- Use the get_project_status_info template tag to get the icon URL and background color for the project status -->
                                {% get_project_status_info all_project.status as status_info %}
                                <div class="all-project-status-card" style="background-color: {{ status_info.color }};">
                                    <div class="all-project-status-icon">
                                        <img src="{{ status_info.icon }}" alt="Project Status" width="20px"
                                             height="20px">
                                    </div>
                                    <div class="all-status-value">{{ all_project.get_status_display }}</div>
                                </div>
                            </div>
                            <div class="all-project-cost">
                                <p class="heading">Cost: KES {{ all_project.cost|intcomma }}.00</p>
                            </div>
                            <div class="all-project-developers">
                                <p class="paragraph">Developers: {{ all_project.developers }}</p>
                            </div>
                            <div class="all-projects-progress">
                                <div class="progress-container">
                                    <div><strong>Progress:</strong> {{ all_project.progress }}%
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ all_project.progress }}%;"
                                                 aria-valuenow="{{ all_project.progress }}" aria-valuemin="0"
                                                 aria-valuemax="100">{{ all_project.progress }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="all-project-website-and-source-code">
                            <div class="all-project-website">
                                {% if all_project.website %}
                                    <a href="{{ all_project.website }}" class="btn btn-primary w-60">
                                        View Website
                                    </a>
                                {% else %}
                                    <button class="btn btn-secondary w-60" disabled>
                                        View Website
                                    </button>
                                {% endif %}
                            </div>
                            <div class="all-project-source-code">
                                {% if all_project.github_status == 'public' %}
                                    <div class="all-project-source-code">
                                        <a href="{{ all_project.source_code }}" class="btn btn-primary w-60">
                                            View Source Code
                                        </a>
                                    </div>
                                {% elif all_project.github_status == 'private' %}
                                    <div class="contact-developer-button">
                                        <a href="{% url 'contact-me' %}" class="btn btn-primary w-60">
                                            Contact Developer
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="container" id="contact-me">
                <h1 class="heading">Want to Work With Me?</h1>
                <p class="paragraph">Thinking of making a website for your business? Wondering how to automate your
                    company?
                    Do not worry. Just click the button below and your wish becomes my command.
                </p>
                <a href="{% url 'contact-me' %}" class="button">Contact Me</a>
            </div>
        </div>
    </article>{% endcomment %}

    <article aria-labelledby="recent-projects" title="Recent Projects">
        <div class="recent-project-container">
            <h2 class="heading text-center" id="recent-projects" style="font-size: 24px;">Recent Projects</h2>
            <div class="recent-project-cards-container row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                {% for recent_project in projects %}
                    <div class="recent-project-card col">
                        <div class="card h-100 border-2 border-primary">
                            <div class="recent-project-logo card-img-top d-flex align-items-center justify-content-center">
                                <img src="{{ recent_project.logo.url }}" alt="Project Logo" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="recent-project-name card-title text-center">{{ recent_project.name }}</div>
                                <!-- Use the get_project_status_info template tag to get the icon URL and background color for the project status -->
                                {% get_project_status_info recent_project.status as status_info %}
                                <div class="recent-project-status-card d-flex align-items-center justify-content-center"
                                     style="background-color: {{ status_info.color }};">
                                    <div class="recent-project-status-icon">
                                        <img src="{{ status_info.icon }}" alt="Project Status" width="20px"
                                             height="20px">
                                    </div>
                                    <div class="status-value">{{ recent_project.get_status_display }}</div>
                                </div>
                                <div class="recent-project-description card-text text-center">{{ recent_project.description|truncatewords:10 }}</div>
                                <div class="paragraph card-text text-center"
                                     style="font-size: small; padding-top: 5px;">
                                    Created On:
                                    <em>{{ recent_project.creation_date }}</em></div>
                                <!-- Truncate the description to 10 words -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>


    <article aria-labelledby="all-projects" title="All Projects">
        <div class="all-project-container">
            <h2 class="heading text-center" id="projects" style="font-size: 24px;">What I'm Working On</h2>
            <div class="all-project-cards-container row row-cols-1 row-cols-lg-2 g-4">
                {% for all_project in all_projects %}
                    <div class="all-project-card col">
                        <div class="card h-100 mt-4">
                            <div class="all-project-logo card-img-top d-flex align-items-center justify-content-center">
                                <img src="{{ all_project.logo.url }}" alt="Project Logo" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="all-project-name card-title text-center">{{ all_project.name }}</div>
                                <div class="all-project-github-status text-center">
                                    <!-- Use a badge to indicate the github status -->
                                    {% if all_project.github_status == 'public' %}
                                        <span class="badge bg-success">Public</span>
                                    {% elif all_project.github_status == 'private' %}
                                        <span class="badge bg-warning">Private</span>
                                    {% endif %}
                                </div>
                                <div class="all-project-description card-text text-center">{{ all_project.description }}</div>
                                <div class="all-project-status-and-cost row">
                                    <div class="all-project-status col-12 d-flex align-items-center justify-content-center">
                                        <!-- Use the get_project_status_info template tag to get the icon URL and background color for the project status -->
                                        {% get_project_status_info all_project.status as status_info %}
                                        <div class="all-project-status-card d-flex align-items-center justify-content-center"
                                             style="background-color: {{ status_info.color }};">
                                            <div class="all-project-status-icon">
                                                <img src="{{ status_info.icon }}" alt="Project Status" width="20px"
                                                     height="20px">
                                            </div>
                                            <div class="all-status-value">{{ all_project.get_status_display }}</div>
                                        </div>
                                    </div>
                                    <div class="all-project-cost col-12">
                                        <h4 class="heading">Cost:</h4>
                                        <p class="paragraph">KES {{ all_project.cost|intcomma }}.00</p>
                                    </div>
                                    <div class="all-project-developers col-12">
                                        <h4 class="heading">Developers:</h4>
                                        <p class="paragraph">{{ all_project.developers }}</p>
                                    </div>
                                    <div class="all-projects-progress col-12">
                                        <div class="progress-container">
                                            <div><strong>Progress: {{ all_project.progress }}% </strong>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         style="width: {{ all_project.progress }}%; background-color: {{ all_project.progress }}; height: 40px;"
                                                         aria-valuenow="{{ all_project.progress }}" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="all-project-website-and-source-code card-footer">
                                <div class="all-project-website d-grid gap-2 mb-2">
                                    {% if all_project.website %}
                                        <a href="{{ all_project.website }}" class="btn btn-primary rounded-pill" >
                                            View Website
                                        </a>
                                    {% else %}
                                        <button class="btn btn-secondary rounded-pill" disabled>
                                            View Website
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="all-project-source-code d-grid gap-2">
                                    {% if all_project.github_status == 'public' %}
                                        <div class="all-project-source-code">
                                            <a href="{{ all_project.source_code }}"
                                               class="btn btn-primary rounded-pill">
                                                View Source Code
                                            </a>
                                        </div>
                                    {% elif all_project.github_status == 'private' %}
                                        <div class="contact-developer-button">
                                            <a href="{% url 'contact-me' %}" class="btn btn-primary rounded-pill">
                                                Contact Developer
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
    
    <br><br><br>

    <div class="container" id="contact-me">
        <h1 class="heading text-center">Want to Work With Me?</h1>
        <p class="paragraph text-center">Thinking of making a website for your business? Wondering how to automate your
            company?
            Do not worry. Just click the button below and your wish becomes my command.
        </p>
        <div class="d-grid gap-2">
            <a href="{% url 'contact-me' %}" class="button btn btn-primary rounded-pill">Contact Me</a>
        </div>
    </div>


</main>


<footer>
    {% include 'footer.html' %}
</footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/main.js"></script>
</html>
