<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kibocha's Project Portfolio">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
    <meta name="author" content="Kibocha John">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Projects Portfolio</title>
</head>
<body>
<header>
    {% include 'header.html' %}
</header>
Hello Portfolio Page
</body>
</html>