<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Survey Form">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
    <meta name="author" content="Kibocha John">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/icons/favicon.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/style.css">
    <title>Kibocha's Portfolio</title>
</head>
<body>
<article aria-labelledby="survey">
    <h1>Review</h1>
    <form method="POST" action="{% url 'review' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</article>
</body>
</html>