<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Thank you!">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
    <meta name="author" content="Kibocha John">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Thank You!</title>
</head>
<body>
<article>
    <div class="mdc-typography mdc-typography--headline6">Thank you for your feedback!</div>
  <div class="mdc-typography mdc-typography--subtitle1">We appreciate your time.</div>

  <a href="{% url 'index' %}" class="mdc-button mdc-button--outlined">Back to Home</a>

  <script src="https://cdn.jsdelivr.net/npm/@material/snackbar/dist/mdc.snackbar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@material/button/dist/mdc.button.js"></script>
</article>
</body>
</html>