<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/snackbar/dist/mdc.snackbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/button/dist/mdc.button.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography/dist/mdc.typography.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Thank You!</title>
</head>
<body>
<article>
    <div class="mdc-typography mdc-typography--headline6">Thank you for your feedback!</div>
  <div class="mdc-typography mdc-typography--subtitle1">We appreciate your time.</div>

  <a href="{% url 'index' %}" class="mdc-button mdc-button--outlined">Back to Home</a>

  <script src="https://cdn.jsdelivr.net/npm/@material/snackbar/dist/mdc.snackbar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@material/button/dist/mdc.button.js"></script>
</article>
</body>
</html>